.topo-todo-interno{
	width: 100%;
	padding: 20px 0px;
	background-image: url(../img/b1.png);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	/*background-color: rgba(0,0,0,0.5);*/
	/*-webkit-box-shadow:  -1px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow:  -1px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 5px 0px rgba(0,0,0,0.75);*/
}
.bg-equipe-novo{
	background-image: url('../img/equipe-banner.png')!important;
}
.bg-cursos-novo{
	background-image: url('../img/cursos.png')!important;
}
.bg-contato-novo{
	background-image: url('../img/contato.png')!important;
}
.bg-politica{
	background-color: #032842;
}
.topo-todo-interno nav ul{
	display: flex;
}
.topo-todo-interno nav ul li{
	margin: 0px 5px;
	list-style: none;
}
.topo-todo-interno nav ul li:hover ul{
	display: block;
}
.topo-todo-interno nav ul li ul{
	width: 150px;
	padding: 10px 5px;
	display: none;
	position: absolute;
	background-color: #FFF;
}
.topo-todo-interno nav ul li ul li{
	display: block;
	padding: 5px 0px!important;
}
.topo-todo-interno nav ul li ul li a{
	color: #4ebcc2;
	padding: 20px 0px;
}
.topo-todo-interno nav ul li a{
	padding: 15px 10px;
	color: #FFF;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.9em;
	font-weight: 600;
	transition: all 0.3s;
}
.titulo-interna{
	width: 90%;
	margin: 60px auto;
}
.titulo-interna h1{
	font-family: 'Bebas Neue', cursive;
	font-size: 3em;
	color: #FFF;
	text-align: center;
}
.area-cursos{
	width: 100%;
	padding: 40px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.cursos{
	width: 23%;
	border: 1px solid #B3B3B3;
	padding: 20px 0px;
	text-align: center;
	margin: 0px 25px;
}
.cursos-titulo{
	width: 90%;
	margin: 0px auto;
}
.cursos-titulo h1{
	color: #032842;
	text-align: center;
}
.cursos-titulo p{
	color: #B3B3B3;
	text-align: center;
}
.cursos-preco{
	width: 100%;
	margin: 20px 0px;
	background-color: #B3B3B3;
	position: relative;
	cursor: default;
}
.cursos-preco::after{
	color: #B3B3B3;
	content: '▼';
	top: 90px;
	left: 40%;
	font-size: 2em;
	position: absolute;
	display: block;
	text-align: center;
}
.cursos-preco h1{
	color: #B3B3B3;
	padding: 20px 0px;
	font-family: 'Montserrat', sans-serif;
	font-size: 3em;
	font-weight: 400;
	text-align: center;
}
.cursos-preco h1::before{
	color: #B3B3B3;
	content: 'R$';
	vertical-align: top;
	font-size: 0.4em!important;
}
.cursos-preco h1::after{
	color: #B3B3B3;
	content: '.99';
	vertical-align: bottom;
	font-size: 0.4em!important;
}
.preco-ativo{
	background-color: #4ebcc2!important;
}
.preco-ativo::after{
	color: #4ebcc2!important;
}
.preco-ativo h1{
	color: #FFF;
}
.preco-ativo h1::before{
	color: #FFF;
}
.preco-ativo h1::after{
	color: #FFF;
}
ul.cursos-lista{
	padding: 20px 0px;
}
ul.cursos-lista li{
	border-bottom: 1px dashed #B3B3B3;
	list-style: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300!important;
	text-align: center;
	color: #B3B3B3;
	padding: 10px 0px;
}
.cursos a{
	border: 2px solid #4ebcc2;
	text-decoration: none;
	color: #B3B3B3;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400!important;
	font-size: 0.9em;
	padding: 7px 20px;
	border-radius: 20px;
	position: relative;
	top: 30px;
	background-color: #FFF;
	transition: all 0.3s;
}
.cursos a:hover{
	background-color: #4ebcc2;
	color: #FFF;
	transition: all 0.3s;
}
.area-servicos{
	width: 100%;
	padding: 60px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.servicos{
	width: 23%;
	text-align: center;
}
.servicos img{
	width: 50%;
	margin: 0px auto;
}
.servicos h1{
	color: #B3B3B3;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2em;
	font-weight: 500;
	margin: 20px 0px;
	text-align: center;
}
.servicos p{
	color: #B3B3B3;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 0.9em;
	line-height: 25px;
	text-align: center;
}
.contato-todo{
	width: 80%;
	margin: 0px auto;
	padding: 60px 0px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.contato-1{
	width: 60%;
}
.contato-1 form{
	width: 100%;
}
.campo-formulario{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.campo-formulario div{
	width: 30%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: #B3B3B3;
}
.campo-formulario input{
	width: 100%;
	height: 40px;
	border: 1px solid #B3B3B3;
	margin-top: 5px;
}
.mensagem{
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: #B3B3B3;
	margin-top: 40px;
}
.contato-1 form textarea{
	width: 100%;
	height: 200px;
	border: 1px solid #B3B3B3;
	margin-top: 5px;
}
.contato-2{
	width: 58%;
	margin-left: 40px;
}
.contato-2 h1{
	font-family: 'Bebas Neue', cursive;
	color: #032842;
}
.contato-2 p{
	font-family: 'Montserrat', sans-serif;
	color: #B3B3B3;
	font-weight: 300;
	line-height: 27px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.icon{
	display: block;
}
.icon i{
	color: #4ebcc2;
	display: inline-block;
	font-size: 1.1em;
}
.icon p{
	display: inline-block!important;
	margin-left: 10px;
	font-size: 1em!important;
	padding-bottom: 0px!important;
}
.bt-form{
	padding: 12px 40px;
	float: right;
	font-family: 'Montserrat', sans-serif;
	color: #FFF;
	background-color: #4ebcc2;
	border: 2px solid #4ebcc2;
	border-radius: 20px;
	margin-top: 40px;
	transition: all 0.3s;
	cursor: pointer;
}
.bt-form:hover{
	background-color: #FFF;
	color: #B3B3B3;
	transition: all 0.3s;
}
.clear{
	clear: both;
}
.conteudo-maior{
	 padding: 60px 0px 80px 0px;
}
.conteudo-navegacao{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
}
ul.conteudo-navegacao-menu{
	width: 30%;
	border-right: 1px solid #B3B3B3;
}
ul.conteudo-navegacao-menu li{
	width: 100%;
	list-style: none;
	margin: 0px 0px 12px 0px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
ul.conteudo-navegacao-menu li img{
	width: 40px;
	height: auto;
	margin-right: 20px;
}
ul.conteudo-navegacao-menu li a{
	display: block;
	padding: 10px 0px;
	font-family: 'Bebas Neue', cursive;
	font-size: 1.4em;
	color: #032842;
	transition: all 0.3s;
}
ul.conteudo-navegacao-menu li a:hover{
	/*border-right: 3px #4ebcc2 solid;*/
	color: #4ebcc2;
	transition: all 0.3s;
}
.conteudo-navegacao-info{
	width: 65%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	line-height: 32px;
	color: #B3B3B3;
}
.texto-sobre-interno{
	width: 80%;
	margin: 0px auto;
	padding: 20px 0px 60px 0px;
}
.texto-sobre-interno p{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	line-height: 32px;
}
.equipe{
	display: flex;
	padding: 60px 0px;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
}
.equipe-foto{
	width: 520px;
	margin-bottom: 40px;
	text-align: center;
}
.equipe-foto img{
	width: 50%;
	margin: 0px auto;
}
.equipe-foto h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	color: #032842;
	text-align: center;
	padding: 10px 0px;
}
.equipe-foto p{
	font-family: 'Montserrat', sans-serif;
	font-size: 0.9em;
	font-weight: 300;
	line-height: 25px;
	color: #B3B3B3;
	text-align: center;
}

.accordion-mobile{
	display: none;
}